body{
    background-image: repeating-conic-gradient(red 10%, yellow 20%);
    margin: 0;
}
/* .pageContainer{
    border: solid black;
    min-height: 100vh;
} */
    /* .topContainer{        
    } */
        .navBarContainer{
            background-color: rgb(6, 82, 44);
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            display: flex;            
            justify-content: space-between;
        }
            .logoContainer{                
                width: 50%;
                display: flex;
                height: 5vh;
            }
                #mainLogo{                    
                    min-height: fit-content;
                }
            .pageLinks{                
                display: flex;
                justify-content: flex-end;
                width: 50%;
                height: 5vh;
                text-decoration: none;
            }
                #randomPageLink{                    
                    display: flex;
                    text-decoration: none;
                    color: lightgray;
                    font-size: 2.5vh;
                    align-items: center;
                    margin-left: 5px;
                    margin-right: 5px;
                }
                #searchPageLink{                    
                    display: flex;
                    text-decoration: none;
                    color: lightgray;
                    font-size: 2.5vh;
                    align-items: center;
                    margin-left: 5px;
                    margin-right: 5px;
                }
        .spacerForNavBar{
            margin-bottom: 5vh;
            min-height: 0;            
        }
        .buttonContainer{
            height: 10vh;
            text-align: center;
            margin: 120px 0 70px 0;
        }
            #randomCardButton{
                height: 100%;
                width: 20%;
                font-size: 100%;
                font-weight: 800;
                color: lightblue;
                background-color: rgb(0, 137, 179);
                border-radius: 25%;
            }
            #randomCardButton:hover{
                background-color: rgb(3, 219, 50);
            }
    .middleContainer{        
        width: 100%;
    }
        #midCardContainer{
            display: flex;            
            justify-content: center;
            height: 55vh;
        }
            .midCardImage{                
                margin-right: 10px;
            }
            .midCardInformationContainer{                
                max-width: 40vw;
            }
                .midCardTitle{                    
                    margin-top: 0;
                }
                .midCardStatisticContainer{                    
                    display: grid;
                    gap: 10px;
                    grid-template-columns: repeat(3, 1fr);
                    color: white;
                }
                        .titleStatistic{                            
                            font-size: 75%;
                        }
                        .descriptionStatistic{                            
                            font-size: 100%
                        }
                    .typeStatistic{
                        border-radius: 7%;
                        padding: 4%;                        
                        background-color: rgb(6, 82, 44);
                        display: none;
                    }
                    .attributeStatistic{
                        border-radius: 7%;
                        padding: 4%;                        
                        background-color: rgb(6, 82, 44);
                        display: none;
                    }
                    .typingStatistic{
                        border-radius: 7%;
                        padding: 4%;                        
                        background-color: rgb(6, 82, 44);
                        display: none;
                    }
                    .levelOrRankStatistic{
                        border-radius: 7%;
                        padding: 4%;                        
                        background-color: rgb(6, 82, 44);
                        display: none;
                    }
                    .attackStatistic{
                        border-radius: 7%;
                        padding: 4%;                        
                        background-color: rgb(6, 82, 44);
                        display: none;
                    }
                    .defenceStatistic{
                        border-radius: 7%;
                        padding: 4%;                        
                        background-color: rgb(6, 82, 44);
                        display: none;
                    }
                    .linkStatistic{
                        border-radius: 7%;
                        padding: 4%;                        
                        background-color: rgb(6, 82, 44);
                        display: none;
                    }
                    .archetypeStatistic{
                        border-radius: 7%;
                        padding: 4%;                        
                        background-color: rgb(6, 82, 44);
                        display: none;
                    }
                    .tcgReleaseStatistic{
                        border-radius: 7%;
                        padding: 4%;                        
                        background-color: rgb(6, 82, 44);
                        display: none;
                    }
                    .ocgReleaseStatistic{
                        border-radius: 7%;
                        padding: 4%;                        
                        background-color: rgb(6, 82, 44);
                        display: none;
                    }                
                /* .midCardTextContainer{                    
                } */
                    #cardTextTitle{                        
                        margin: 1em 0 .5em 0;
                    }
                    .midCardText{                        
                        margin: 0;
                    }

    .bottomContainer{        
        margin-top: 200px;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        background-color: rgb(6, 82, 44);
        color: whitesmoke;
    }   
            .apiLink{
                text-decoration: none;
                color: blanchedalmond;
            }
        /* .developerContainer{            
        } */
            .startedOn{
                margin: 0 0 0 20px;
            }    
            .developerName{                
                margin: 5px 0 0 20px;
            }
        /* .contributingSourceContainer{            
        } */
            .apiUsed{                
                margin: 0 0 0 20px;
            }
            .designInspiration{                
                margin: 5px 0 0 20px;
            }